mat-form-field {
  width: 450px;
  padding-left: 50px;
}
#createButton {
  background-color: var(--color-accent) !important;
  color: #fff !important;
}

.mat-card-content > :first-child {
  margin-top: 14px;
}
